
<nav class="navbar navbar-expand-lg navbar-light bg-faded" id="navbar">
    <a class="navbar-brand" style="font-style:italic">logo</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar-collapse">
  
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a routerLink="/home" class="nav-link">home</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="#" class="nav-link">dashboard</a>
        </li>
        <li class="nav-item">
            <a routerLink="/mainboard" class="nav-link">mainboard</a>
          </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link">dodaj odbitkę</a>
        </li>
        <li class="nav-item">
            <a routerLink="#" class="nav-link">raporty</a>
          </li>                  
      </ul>
  
      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-outline-primary btn-sm" routerLink="/login">
            <span></span>Login</button>
        </li>
      </ul>      -->
      <ul class="navbar-nav"> 
          <li class="nav-item">
              <button class="btn btn-outline-default btn-sm">
                <span ></span>panel użytkownika</button>
            </li>        
          <li class="nav-item">
            <button class="btn btn-outline-default btn-sm" routerLink="/login">
              <span ></span>logout</button>
          </li>
        </ul> 
    </div>
  </nav>
